<div class="div-main">

  <div class="grid-container">
    <div class="item-a">
        Item a
    </div>
    <div class="item-b">
        Item b
    </div>
    <div class="item-c">
      <div>
        <div style="
        top: 0;
        left: 0;">
          Texto sobre a imagem
        </div>
        <!-- <img src="/assets/images/movie.jpeg" alt="" style="width: 60%;"> -->
      </div>
    </div>
  </div>

</div>
