
.grid-container {
  width: 70%;
  height: 50vh;
  margin: 25vh auto;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
  row-gap: 20px;
}

.item-a{
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-b {
  background: linear-gradient(#e66465, #9198e5);
  grid-column-start: 3;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.item-c {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/images/movie.jpeg");
  background-color: blue;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}