<style>


</style>

<div style="width: 100%;background-size: cover;height: auto;min-height: 100%;">
    <div class="horizontal-stepper-wrapper" style="padding-top: 5%;padding-bottom: 5%;width: 70%;display: block;margin-left: auto;margin-right: auto;">
        
        <div class="page-layout simple fullwidth angular-material-elements">
            <div class="content p-24">
            
                <button mat-button style="background-color: #ccc;" (click)="goRegister()">Novo Filme</button>
                <br><br><br>
                
                <br><br>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="movieList" matSort class="mat-elevation-z8">
                       
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                            <td mat-cell *matCellDef="let movie">{{movie.name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="year">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano</th>
                            <td mat-cell *matCellDef="let movie">{{movie.year}}</td>
                        </ng-container>

                        <ng-container matColumnDef="genre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gênero</th>
                            <td mat-cell *matCellDef="let movie">{{movie.genre}}</td>
                        </ng-container>


                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                            <td mat-cell *matCellDef="let movie">{{movie.description}}</td>
                        </ng-container>

                        <ng-container matColumnDef="url">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
                            <td mat-cell *matCellDef="let movie">{{movie.url}}</td>
                        </ng-container>

                        <ng-container matColumnDef="actions" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="disabled" style="padding-right: 0!important">Ações</th>
                            <td mat-cell *matCellDef="let movie">
                              <mat-icon (click)="detailsMovie(movie)">description </mat-icon>
                              <mat-icon (click)="detailsMovie(movie)">cancel</mat-icon>
                              <mat-icon (click)="detailsMovie(movie)">print</mat-icon>
                            </td>
                        </ng-container>  
          

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let banco; columns: displayedColumns;">
                    </tr>
                    </table>
                
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>

    </div>
</div>