table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .header-filter {
    width: 95%;
}

.mat-column-actions {
  flex: 0 0 100px;
}

.mat-column-genre {
  flex: 0 0 300px;
}

.select-filter {
    width: 10%;
    border: 1px solid #e6e6e6;
    padding: 10px;
    margin-right: 10px;
  }
  
.label-filter {
    color: #737373;
}

mat-icon {
  cursor: pointer;
}

.dplBlock {
  display: block;
}

button {
  width: 150px;
  background-color: transparent !important;
  border-radius: 20px;
  border: 2px solid #ccc;
  color: #ccc;
  transition: 0.7s;
}

button:hover {
  cursor: pointer;
  color: #333 !important;
  background-color: #ccc !important;
  border: 2px solid #333;
}