
.div-main {
    height: 100vh;
    max-width: 50%;
    margin: auto;
}

.wrapper {
    display: flex;
    margin-top: 50%;
    transform: translateY(-50%);
}

.card-custom {
    height: 250px;
    line-height: 250px;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 0 50px;
    transition: 0.7s;
}

.card-custom:hover{
    cursor: pointer;
    opacity: 0.7;
    color: #333;
    background-color: #aaa;
    border: 2px solid #333;
}