.inventory-body {
    position: fixed;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    background-color: #333;
}