@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}

.form-label {
    margin: 25px 0;
    color: #ccc;
    font-weight: 700;
    font-size: 16px;

  }

  .form-input {
    background-color: transparent;
    outline: none;
    font-size: 16px;
    box-shadow: none !important;
    border: none !important;
    border-radius: none !important;
    border-bottom: 2px solid #ccc !important;
    color: #ccc;
    margin: 10px 0 20px 0;
    width: 100% !important;
  }

  .form-input:focus {
    background-color: transparent !important;
  }

  option {
    color: #333 !important;
  }

  .div-25 {
    width: calc(25% - 30px);
    margin: 0 !important;
    padding: 0 15px !important;
  }

  .div-50 {
    width: calc(50% - 30px);
    margin: 0 !important;
    padding: 0 15px !important;
  }

  .div-100 {
    width: calc(100% - 30px);
    margin: 0 !important;
    padding: 0 15px !important;
  }

  .btns {
    margin: 20px 0 !important;
  }
  button {
    width: 150px;
    background-color: transparent !important;
    border-radius: 20px;
    border: 2px solid #ccc;
    color: #ccc;
    transition: 0.7s;
}

button:hover {
    cursor: pointer;
    color: #333 !important;
    background-color: #ccc !important;
    border: 2px solid #333;
}