<style>
  
</style>

<div class="page-layout simple fullwidth angular-material-elements">

  <!-- CONTENT -->
  <div class="div-100">

    <form class="example-form" [formGroup]="movieForm" #formDirective="ngForm" (ngSubmit)="registerMovie(movie);" id="movieForm">
      <div class="div-25">
        <h3 style="margin: 10px 0 50px 0">Cadastro de Filme</h3>
      </div>
      <fieldset>
        <fieldset class="grupo">
          <div class="campo div-25">
            <label for="movieNumber">Número do Filme</label>
            <input class="form-input" formControlName="movieNumberForm" required [(ngModel)]="movie.movieNumber" type="text" id="movieNumber" name="movieNumber" value="">
          </div>
          <div class="campo div-25">
            <label for="typeProduct">Tipo do Produto</label>
            <select class="form-input" formControlName="typeProductForm" required [(ngModel)]="movie.typeProduct" name="typeProduct" id="typeProduct">
              <option value="">Selecione um Tipo do Produto</option>
              <option value="vhs">VHS</option>
            </select>
          </div>
          <div class="campo div-25">
            <label for="typeMovie">Tipo do Filme</label>
            <select class="form-input" formControlName="typeMovieForm" required [(ngModel)]="movie.typeMovie" name="typeMovie" id="typeMovie">
              <option value="">Selecione um Filme</option>
              <option value="horas">24 HORAS</option>
            </select>
          </div>
          <div class="campo div-25">
            <label for="genre">Gênero</label>
            <select class="form-input" formControlName="genreForm" required [(ngModel)]="movie.genre" name="genre" id="genre">
              <option value="">Selecione um Gênero</option>
              <option value="acao">AÇÃO</option>
              <option value="comedia">COMÉDIA</option>
              <option value="terror">TERROR</option>
            </select>
          </div>
        </fieldset>
        <div style="position: fixed; margin-left: 50%; ">
          <img style="max-width: 100%; height: 30%;" [src]="movie.coverPhoto">
          <input type='file' (change)="onSelectFile($event)">

        </div>
        <div class="campo div-50">
          <label for="movieTitle">Título do Filme</label>
          <input class="form-input" formControlName="movieTitleForm" required [(ngModel)]="movie.movieTitle" type="text" id="movieTitle" name="movieTitle" value="">
        </div>
        <div class="campo div-50">
          <label for="mainActors">Principais Atores</label>
          <input class="form-input" formControlName="mainActorsForm" required [(ngModel)]="movie.mainActors" type="text" id="mainActors" name="mainActors" value="">
        </div>
        <div class="campo div-50">
          <label for="mainDirectors">Principais Diretores</label>
          <input class="form-input" formControlName="mainDirectorsForm" required [(ngModel)]="movie.mainDirectors" type="text" id="mainDirectors" name="mainDirectors" value="">
        </div>
        <div class="campo div-25">
          <label for="provider">Fornecedor</label>
          <select class="form-input" formControlName="providerForm" required [(ngModel)]="movie.provider" name="provider" id="provider">
            <option value="">Selecione um Fornecedor</option>
            <option value="nv">NOVA ERA VIDEO</option>
          </select>
        </div>
        <fieldset class="grupo">
          <div class="campo div-25">
            <label for="languageType">Tipo de Idioma</label>
            <input class="form-input" formControlName="languageTypeForm" required [(ngModel)]="movie.languageType" type="text" id="languageType" name="languageType" value="">
          </div>
          <div class="campo div-25">
            <label for="value">Valor da Locação</label>
            <input class="form-input" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"  formControlName="valueForm" required [(ngModel)]="movie.value" type="text" id="value" name="value" value="">
          </div>
          <div class="campo div-25">
            <label for="registerDate">Data de Cadastro</label>
            <input class="form-input" formControlName="registerDateForm" required [(ngModel)]="movie.registerDate" type="text" id="registerDate" name="registerDate" value="">
          </div>
        </fieldset>
      </fieldset>

    </form>

    <div class="div-50 btns">
      <button style="background-color: #ccc;margin-right: 10px;" form="movieForm" mat-button>Salvar</button>
      <button (click)="newMovie()" style="background-color: #ccc;margin-right: 10px;" mat-button>Novo Filme</button>
      <button (click)="goHome()" style="background-color: #ccc;" mat-button>Fechar</button>
    </div>



  </div>

</div>